#pmd-pcm * {
	color: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-top: 6px;
}

#pmd-pcm h3 {
	font-size: 18px;
}

#pmd-pcm {
	padding: 8px;
	color: var(--pmd-color, white);
	background: var(--pmd-bg, #003f56);
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index: 1073741823;
}

#pmd-pcm .pmd-pcm-btn {
	background: var(--pmd-btn-bg, white) !important;
	color: var(--pmd-btn-color, #003f56) !important;
	text-align: center;
	display: inline-block;
	padding: 8px 16px;
    border-radius: 4px;
}

#pmd-pcm .pmd-pcm-logo {
	height: 26px;
	float: right;
	margin-right: 4px;
}

/* Animation */

@keyframes fadeIn {
    from {
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
    }

    to {
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        height: 0px;
    }
}

#pmd-pcm.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

#pmd-pcm.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

#pmd-pcm.fadeOut {
    opacity: 1;
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
}