@font-face {
    font-family: 'pmd';
    src: url('pmd.eot');
    src: url('pmd.eot?#iefix') format('embedded-opentype'),
         url('pmd.woff') format('woff'),
         url('pmd.ttf') format('truetype'),
         url('pmd.svg#pmd') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='pmd-']:before{
   display: inline-block;
   font-family: 'pmd';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: var(--pmd-color, inherit);
}

.pmd-circle:before{content:'\0041';}
.pmd-rounded:before{content:'\0042';}
.pmd-icon:before{content:'\0043';}
.pmd-square:before{content:'\0043'; background-color: var(--pmd-bg, #23D3D3); color: var(--pmd-color, white);}